body {
    font-family: "Inter", sans-serif;
    background: #f5f7f9;
}

header {
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
    padding: 18px 0;
    text-align: center;
    box-shadow: 0 1px 4px rgba(0,0,0,0.05);
}
header h1 {
    font-size: 26px;
    font-weight: 600;
    margin: 0;
}

.card-custom {
    border: none;
    border-radius: 15px;
}

.icon-circle {
    width: 50px;
    height: 50px;
    background-color: #e0f2f7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px auto;
}

.icon-lg {
    font-size: 2.2rem;
}

.card-value {
    font-size: 2.5rem;
    font-weight: 700;
    color: #343a40;
    margin-bottom: 5px;
}

.card-label {
    font-size: 1rem;
    color: #6c757d;
    margin-bottom: 0;
}


.fa-microchip { color: #5bc0de; }
.fa-memory { color: #f0ad4e; }
.fa-hdd { color: #5cb85c; }